.quote-form{
    position:absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    bottom: 30px;
    font-size: 20px;
}
.author{
    font-size: 15px;
    position: relative;
}